doctype html
html 
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      //- Serving Static files
      //- app.use(express.static(path.join(__dirname, 'public')))
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}

  body 
    // HEADER
    include _header

    // CONTENT
    block content
      h1 Mood

    // FOOTER
    include _footer

    //- This will then expose an axios object to the global scope.
    //- script(script-src-elem='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js' crossorigin='anonymous')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')

    //- This will expose a stripe obj to the global scope.
    script(src='https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch')     
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')

          